<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;700" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600" />

    <script src="https://cdn.tailwindcss.com"></script>

    <script>
      tailwind.config = {}
                      tailwind.config.safelist = []
                      tailwind.config.content = []
    </script>

    <meta charset="UTF-8" />

    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!--[if !mso]><!-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--<![endif]-->

    <meta name="x-apple-disable-message-reformatting" />

    <style></style>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>

  </body>
</html>
